<aside class="w-full md:w-64 h-auto md:h-full bg-blue-900 text-white flex flex-col">
  <!-- Logo -->
  <div class="h-16 flex items-center justify-center border-b border-blue-800">
    <h1 class="text-xl font-bold tracking-wider">Microbank Connect</h1>
  </div>

  <!-- Menu -->
  <nav class="flex-1 px-4 py-6 space-y-2">
    <a routerLink="/" routerLinkActive="bg-blue-800 font-semibold" [routerLinkActiveOptions]="{ exact: true }" class="block px-4 py-2 rounded-lg hover:bg-blue-800 transition">Tableau de bord</a>
    <a routerLink="/clients" routerLinkActive="bg-blue-800 font-semibold" class="block px-4 py-2 rounded-lg hover:bg-blue-800 transition">Clients</a>
    <a routerLink="/accounts" routerLinkActive="bg-blue-800 font-semibold" class="block px-4 py-2 rounded-lg hover:bg-blue-800 transition">Comptes</a>
    <a routerLink="/operations" routerLinkActive="bg-blue-800 font-semibold" class="block px-4 py-2 rounded-lg hover:bg-blue-800 transition">Opérations</a>
    <a routerLink="/credits" routerLinkActive="bg-blue-800 font-semibold" class="block px-4 py-2 rounded-lg hover:bg-blue-800 transition">Crédits</a>
    <a routerLink="/statistiques" routerLinkActive="bg-white/20 text-white" class="block px-4 py-2 mt-2 text-sm font-semibold text-white/80 rounded-lg hover:bg-white/10 transition-colors">
  Statistiques globales
</a>
<a routerLink="/agents" routerLinkActive="bg-white/20 text-white" class="block px-4 py-2 mt-2 text-sm font-semibold text-white/80 rounded-lg hover:bg-white/10 transition-colors">
  Gestion des agents
</a>
  </nav>

  <!-- Paramètres -->
  <div class="p-4 border-t border-blue-800">
    <button class="w-full text-left px-4 py-2 hover:bg-blue-800 rounded-lg transition text-sm">Paramètres</button>
  </div>
</aside>